<div class="panel-heading"><h4>Workouts</h4></div>

<div class="panel-body">
  {{view 'workouts/new'}}
</div>

<div class='list-group'>
  {{#each}}
    {{#link-to 'workouts.show' this class='list-group-item'}}
      {{name}}
    {{/link-to}}
  {{/each}}
</div>
