<h1>Workouts</h1>

<div class='list-group'>
  {{#each}}
    {{#link-to 'workouts.show' this class='list-group-item'}}
      {{name}}
    {{/link-to}}
  {{/each}}
</div>

<form class="form-inline" {{action 'save' on='submit'}}>
  <div class="form-group">
    {{input value=newWorkoutName placeholder='Name' class='form-control'}}

    <button class="btn btn-default" type="submit">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add Workout
    </button>
  </div>
</form>
