<form class="form-inline" {{action 'addWorkout' on='submit'}}>
  <div class="form-group">
    {{input value=newWorkoutName placeholder='Name' class='form-control'}}
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add Workout
    </button>
  </div>
</form>
