<div class="panel-heading">
  <h4>
    {{#link-to 'workouts.index'}}Workouts{{/link-to}}:
    {{name}}
  </h4>
</div>

<div class="panel-body">
  {{render 'exercises/new' this}}
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Reps / Time</th>
      <th>Latest Weight</th>
    </tr>
  </thead>
  <tbody>
    {{#each exercises}}
      {{view 'exercises/exercise'}}
    {{/each}}
  </tbody>
</table>
