<header class="bar bar-nav">
  {{#link-to 'thursday' class="btn btn-nav btn-link pull-left"}}
    <span class="icon icon-left-nav"></span> thursday
  {{/link-to}}

  {{#link-to 'saturday' class="btn btn-nav btn-link pull-right"}}
    saturday <span class="icon icon-right-nav"></span>
  {{/link-to}}

  <h1 class="title">Friday</h1>
</header>

<div class="content">
  {{outlet}}
</div>
