<header class="bar bar-nav">
  {{#link-to 'saturday' class="btn btn-nav btn-link pull-left"}}
    <span class="icon icon-left-nav"></span> saturday
  {{/link-to}}

  {{#link-to 'monday' class="btn btn-nav btn-link pull-right"}}
    monday <span class="icon icon-right-nav"></span>
  {{/link-to}}

  <h1 class="title">Sunday</h1>
</header>

<div class="content">
  {{outlet}}
</div>
