<header class="bar bar-nav">
  {{#link-to 'tuesday' class="btn btn-nav btn-link pull-left"}}
    <span class="icon icon-left-nav"></span> tuesday
  {{/link-to}}

  {{#link-to 'thursday' class="btn btn-nav btn-link pull-right"}}
    thursday <span class="icon icon-right-nav"></span>
  {{/link-to}}

  <h1 class="title">Wednesday</h1>
</header>

<div class="content">
  {{outlet}}
</div>
